*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

    --board-height: 90vh;
    --board-width: 50vh;
    --control-board-width: 30vh;
    --next-figure-board-width: 25vh;
    --next-figure-board-height: 22vh;
    --next-figure-p-width: 25vh;
    --next-figure-p-height: 7vh;

    --margin-between-elements: 0.7rem;

    --text-font-size: 1.2em;
    --text-font-weight: 600;
}
body{
    background: #3A4452;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 4rem;
    margin-top: 1.5rem;
}

/* ---------- control wrapper ---------- */
.wrapper-control{
    width: var(--control-board-width);
    height: var(--board-height);
    padding: 0.5% 0.5% 0.1% 0.5%;
    text-align: center;
}
.game-info{
    background: #9d9b8b;
    color: #1f1f19;
    width: var(--control-board-width) - 1%;
    height: calc(var(--next-figure-board-height) );

    border-radius: 5px;
    border: solid #3d3d3f;
    box-shadow: 10px 10px 15px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
}
.game-info p{
    margin-left: 0.4rem;
    gap: 0.7rem;
}

#game-info-player{
    display: flex;
    height: 33%;
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
    background: #424244 !important;
    color: #d6dec0 !important;
}
#game-info-level,
#game-info-score {
    display: flex;
    height: 32%;
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
}

.control-button{
    margin-top: var(--margin-between-elements);
    width: 100%;
    height: 5vh;
    background-color: #936f4a;
    color: #281910;

    font-weight: 600;
    font-size: 1.1em;
    border-radius: 5px;
    border-color: #643917;
    box-shadow: 10px 10px 15px rgb(0 0 0 / 10%);
}

.control-button:hover{
    background-color: #69472f;
    color: #f3d9c7;
}

/* ---------- game wrapper ---------- */
.wrapper-map{
    width: var(--board-width);
    height: var(--board-height);
    border-radius: 5px;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
    display: flex;
    padding: 0.3% 0.3% 0.3% 0.3%;
    background-color: #3d3d3f;
}
#canvas{
    width: 100%;
    height: 100%;
}

/* ---------- next figure info wrapper ---------- */
.wrapper-next-figure-info{
    width: var(--control-board-width);
    height: var(--board-height);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 0.7rem;
    align-items: center;
}

.next-figure-canvas{
    background-color: #3d3d3f;
    width: var(--next-figure-board-width);
    height: var(--next-figure-board-height);
    box-shadow: 10px 10px 15px rgb(0 0 0 / 10%);
    padding: 0.5% 0.5% 0.5% 0.5%;
    border-radius: 5px;
}

#next-canvas{
    width: 100%;
    height: 100%;
}

.next-figure-title{
    width: 23vh;
    height: 10vh;
    border-radius: 5px;
    text-align: center;
    box-shadow: 10px 10px 15px rgb(0 0 0 / 10%);
    display: flex;
    padding: 0.5% 0.5% 0.5% 0.5%;
    background: #9d9b8b;
    border: solid #3d3d3f;
    border-width: 1.2rem 0 0 0;
}
.next-figure-title p{
    color: #1f1f19;
    font-weight: var(--text-font-weight);
    font-size: var(--text-font-size);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;

    margin: 0 5% 0 0;
    padding: 0.5% 0.5% 0.5% 0.5%;
}

/* ---------- score table wrapper ---------- */
.wrapper-score-table{
    background-color: rgba(124, 124, 124, 0.9);
    position: absolute;
    width: 45vw;
    height: 90vh;
    display: none;
}
#table-title{
    color: #1f1f19;
    font-weight: 700;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin: 0 5% 0 0;
    padding: 0.5% 0.5% 0.5% 0.5%;
}

#table {
    width: 100%;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    font-weight: 700;
}
#table th {
    font-weight: bold;
    padding: 5px;
    border: 5px solid #464d20;
    margin: 1% 1% 1% 1%;
    background: #464d20;
    color: #e3e3cd;

}
#table td {
    padding: 5px;
    border: 5px solid #9db041;
    background: #9db041;
    margin: 1% 1% 1% 1%;
    color: #1f1f19;
}
#close{
    display: flex;
    width: 4.5vh;
    height: 4.5vh;
    background-color: #ab4133;
    color: #000000;

    font-weight: 600;
    font-size: 1.2em;
    border-color: #2c1c0f;
    box-shadow: 10px 10px 15px rgb(0 0 0 / 10%);
}
#close:hover{
    background-color: #a9230a;
}

/* ---------- loose wrapper ---------- */
.loose-wrapper{
    background-color: rgba(197, 197, 197, 0.9);
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.hidden{
    transform: translate(0, -100vh);
}

#restart-game,
#score-table,
#back-to-menu{
    width: 50vw;
}